div {
  align-items: center;
  display: flex;
  height: 30px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 100%;

  input {
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-basis: 80%;
    height: 97%;
    outline: none;
    padding: 0 .5rem;
  }

  button {
    background: $color;
    border: 1px solid #ccc;
    border-radius: 5px;
    $color: #eee;
    cursor: pointer;
    flex-basis: 20%;
    height: 100%;
    outline: none;
    padding: 0 .5rem;
    transition: .3s all;

    &:hover {
      background: darken($color, 20%);
    }
  }
}
